.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: lightgreen;
  }

  img {
    width: 300px;
    height: 300px;
  }

  h1 {
    text-shadow: 2px 2px darkblue;
    text-decoration: underline;
  }

  h2 {
    text-decoration: underline;
  }

  .nav-item {
    color: white;
  }

  .navbar-brand {
    color: white;
  }

  .container {
    margin: auto;
  }
  
  